pre.full-score {
  white-space: pre-wrap;
}
input.switch-btn {
  margin-bottom: 10px;
}
.polished-report-success {
  padding-right: 8em;
}
.polished-report-success pre.success {
  font-family: Courier, Arial;
}
.polished-report-success #matrix-programming-report .report-section div.score {
  font-family: "Heiti SC", Arial;
}
.polished-report-success #matrix-programming-report .report-section .test-content {
  max-height: none;
}
.polished-report-success #matrix-programming-report .report-section .test-content .report-detail {
  max-height: none;
}
.polished-report-success #matrix-programming-report .report-section .test-content .report-detail > div.failed-cases-summary {
  font-family: Courier, Arial;
  font-size: 20px;
}
.polished-report-success #matrix-programming-report .report-section .test-content .report-detail .error-detail {
  max-height: none;
  margin-top: 10px;
}
.test-content .report-detail > pre,
.report-section .test-content .report-detail > div {
  font-family: Courier, Arial;
}
.report-detail pre.label {
  font-family: Courier, Arial;
}
.report-detail .case-inner-wrapper .error-content {
  margin-top: 0;
  margin-bottom: 0;
}
.tests-check-summary {
  margin-top: 20px;
}
.tests-check-summary .result-code,
.tests-check-summary .limit-use,
.tests-check-summary .index {
  font-family: Courier, Arial;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0 !important;
}
.tests-check-summary .result-code,
.tests-check-summary .limit-use {
  font-size: 18px !important;
}
.tests-check-summary .index {
  font-size: 25px !important;
}
.google-test-case-wrapper .index {
  font-family: Courier, Arial;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px !important;
}
.plain-text-wrapper {
  background: url("https://developer.cdn.mozilla.net/static/img/blueprint-dark.fd85a7a074ae.png") top center #fafbfc;
  border-left: 10px solid #479ea2;
  padding-left: 1em;
  position: relative;
  word-wrap: normal;
  overflow-x: auto;
}
.plain-text-wrapper,
.plain-text-wrapper .one-diff-wrapper {
  font-family: Courier;
  font-size: 1.05em;
  font-weight: normal;
}
.polished-report-success div.report-detail pre.error-content {
  max-height: none !important;
}
.line-numbers-wrapper {
  padding-left: 4em;
}
.line-numbers-wrapper > pre {
  margin: 0 0;
  padding-left: 1em;
}
.diffPre {
  padding-left: 6.7em;
}
.one-diff-content-one-row-binary {
  color: #5f5f5f;
  font-size: 0.75em;
}
.case-inner-wrapper.hideHex .line-numbers-rows .line-numbers-one-row-binary,
.case-inner-wrapper.hideHex .one-diff-content .one-diff-content-one-row-binary {
  display: none;
}
.line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: 0em;
  width: 3.3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
}
.line-numbers-rows > div {
  display: block;
  color: #6b6b6b;
  padding-right: .5em;
  text-align: right;
}
.line-numbers-rows.line-numbers-rows-right {
  left: 3.4em;
}
.diff-removed-bg {
  background-color: pink;
}
.diff-added-bg {
  background-color: darkseagreen;
}
.inline-removed-bg {
  background-color: #ff718e;
}
.inline-added-bg {
  background-color: chartreuse;
}
span.one-diff-content {
  display: inline-block;
  min-width: 100%;
}
.side-nav {
  display: block;
  padding-bottom: 40px;
  color: #808080;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  width: 216px;
  height: 500px;
  position: fixed;
  top: 120px;
  right: 30px;
}
.side-nav.fold {
  background-color: rgba(255, 255, 255, 0);
}
.side-nav.fold .nav-toggle-wrapper .nav-toggle {
  background-color: rgba(255, 255, 255, 0.8);
}
.side-nav.fold .nav-toggle-wrapper .nav-toggle::before {
  content: "+";
}
.side-nav.fold .nav-body {
  display: none;
}
.side-nav a {
  color: #828282;
}
.side-nav a:hover {
  color: #0085a1;
}
.side-nav .nav-toggle-wrapper {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  cursor: pointer;
}
.side-nav .nav-toggle-wrapper .nav-toggle {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 17px;
  border-radius: 3px;
  font-size: 19px;
}
.side-nav .nav-toggle-wrapper .nav-toggle::before {
  content: "−";
  position: relative;
  margin-right: 5px;
  bottom: 1px;
}
.side-nav .nav-toggle-wrapper .nav-toggle:hover {
  color: #0085a1;
}
.side-nav .nav-body {
  position: relative;
  list-style: none;
  height: 460px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 17px;
  padding-right: 5px;
  text-indent: 0;
}
.side-nav .nav-body li {
  position: relative;
  list-style: none;
}
.side-nav .nav-body li a {
  padding-left: 10px;
  max-width: 180px;
  display: inline-block;
  vertical-align: middle;
  height: 30px;
  line-height: 30px;
  overflow: hidden;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.side-nav .nav-body li.non-pass a {
  color: red;
}
.side-nav .nav-body li.non-pass a:hover {
  color: #0085a1;
}
.side-nav .nav-body li.h1_nav {
  margin-left: 0;
  font-size: 15px;
}
.side-nav .nav-body li.h2_nav {
  margin-left: 5px;
  font-size: 14px;
}
.side-nav .nav-body li.h3_nav {
  margin-left: 10px;
  font-size: 13px;
}
.side-nav .nav-body li.h1_nav,
.side-nav .nav-body li.h2_nav,
.side-nav .nav-body li.h3_nav {
  font-weight: bold;
}
.side-nav .nav-body li.h4_nav {
  margin-left: 18px;
  font-size: 12px;
}
.side-nav .nav-body li.h5_nav {
  margin-left: 25px;
  font-size: 10px;
}
.side-nav .nav-body li.h6_nav {
  margin-left: 40px;
  font-size: 9px;
}
.side-nav .nav-body li.h4_nav a,
.side-nav .nav-body li.h5_nav a,
.side-nav .nav-body li.h6_nav a {
  max-width: 170px;
}
.side-nav .nav-body li.active {
  border-radius: 4px;
  background-color: #F5F5F5;
}
.side-nav .nav-body li.active a {
  color: #0085a1 !important;
}
#course-assignment-programming #course-assignment-programming-container #matrix-second-bar ul li.hidden {
  display: none;
}
.files-cmp-switch-btn {
  margin-left: 36px;
}
.select-choice-part > div {
  margin-bottom: 30px;
}
.files-diff-part #matrix-programming-report {
  margin-left: 36px;
  margin-bottom: 30px;
}
.files-diff-part th.th-grade {
  width: 40%;
}
.no-validation-login {
  width: 326px;
  height: 45px;
  display: block;
  border: 0;
  border-radius: 8px;
  background-color: rgba(71, 158, 162, 0.5);
  font-size: 16px;
  color: #fff;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-appearance: push-button;
  -webkit-user-select: none;
  padding: 2px 6px 3px;
  white-space: pre;
  -webkit-box-align: start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  text-align: center;
}
.no-validation-login:hover {
  background-color: #479ea2;
  cursor: pointer;
}
.no-validation-login:focus {
  outline: 0;
}
input.faraway {
  position: absolute;
  left: -1000000px;
}
#backtotop {
  position: fixed;
  bottom: 15%;
  right: 2em;
  z-index: 104;
}
#backtotop .backtotop-btn {
  position: relative;

  width: 38px;
  height: 38px;
  border-radius: 3px;

  background-color: #E4E4E4;
  cursor: pointer;
}
#backtotop .backtotop-btn:hover {  background-color: #e2e2e2;  }
#backtotop .arrow-upward, #backtotop .vertical-stick {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
}
#backtotop .arrow-upward {
  top: -1px;

  width: 0;
  height: 0;
  
  border: 9px solid transparent;
  border-bottom-color: #404040;
}
#backtotop .backtotop-btn:hover .arrow-upward {  border-bottom-color: #0085a1;  }
#backtotop .vertical-stick {
  top: 15px;

  width: 8px;
  height: 14px;
  
  border-radius: 1px;
  background-color: #404040;
}
#backtotop .backtotop-btn:hover .vertical-stick {  background-color: #0085a1;  }
.files-diff-part #course-statistics .statistics-wrapper .statistics-container {
  width: calc(100% - 36px);
}
.hiding {
  display: none;
}
.hidden {
  display: none;
}
.non-pass {
  color: red;
}
/*# sourceMappingURL=polish.css.map */