.diff-removed-bg {
  background-color: pink;
}
.diff-added-bg {
  background-color: darkseagreen;
}
.inline-removed-bg {
  background-color: rgb(255, 113, 142);
}
.inline-added-bg {
  background-color: chartreuse;
}
.hiding {
  display: none;
}
.report-nav {
  width: 9em;
  border: 0.2em solid;

  position: fixed;
  z-index: 104;
  right: 1em;

  background-color: rgba(226, 136, 190, 0.15);
}
.report-nav-section-title {
  border-top: 1.5px solid;
  border-bottom: 1px solid;
  padding: 0.3em;
  cursor: pointer;
}
.report-nav-section-cases {
  max-height: 5em;
  overflow-x: auto;
}
.report-nav-section-one-case {
  border-top: 1px solid;
  padding-left: 2.3em;
  cursor: pointer;
}
pre.full-score {
  white-space: pre-wrap;

}
.polished-report-success pre.success {
  font-family: Courier, Arial;
  font-size: 1.7em !important;
}
.polished-report-success .report-section div.score {
  font-family: "Heiti SC", Arial;
  font-size: 1.5em !important;
  font-weight: bold !important;
}
.test-content .report-detail > pre,
.report-section .test-content .report-detail > div {
  font-family: Courier, Arial;
  font-size: 1.2em;
}

.tests-check-summary pre.index {
  font-family: Courier, Arial;
  font-size: 1.2em !important;
  font-weight: bold !important;
}

.report-section .test-content .report-detail > div.failed-cases-summary {
  font-family: Courier, Arial;
  font-size: 1.6em;
  font-weight: bold;
}

.tests-check-summary pre.result-code,
.tests-check-summary pre.limit-use {
  font-family: Courier, Arial;
  font-size: 1em !important;
  font-weight: bold !important;
}

.report-detail pre.label {
  font-family: Courier, Arial;
  font-size: 1.2em !important;
  font-weight: bold !important;
}

.plain-text-wrapper {
  background: url("https://developer.cdn.mozilla.net/static/img/blueprint-dark.fd85a7a074ae.png") top center #fafbfc;
  border-left: 10px solid #558abb;
  padding-left: 1em;
  
  position: relative;

  word-wrap: normal;
  overflow-x: auto;

  
}

pre.plain-text-wrapper, pre.plain-text-wrapper pre.one-diff-wrapper {
  font-family: Courier;
  font-size: 1.05em;
  font-weight: normal;
}

.polished-report-success div.report-detail pre.error-content {
  max-height: none !important;
}
.line-numbers-wrapper {
  padding-left: 4em;
}
.line-numbers-wrapper > pre {
  margin: 0 0;
  padding-left: 1em;
}
.diffPre {
  padding-left: 6.7em;
}
.one-diff-content-one-row-binary {
  color: rgba(95, 95, 95, 1);
  font-size: 0.75em;
}

.line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: 0em;
  width: 3.3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
}
.line-numbers-rows-right {
  left: 3.4em;
}
.line-numbers-rows > div {
  display: block;
  color: rgba(107, 107, 107, 1);
  padding-right: .5em;
  text-align: right;
}

