pre.plain-text-wrapper {
  background: url("https://developer.cdn.mozilla.net/static/img/blueprint-dark.fd85a7a074ae.png") top center #fafbfc;
  border-left: 10px solid #479ea2; // #558abb;
  padding-left: 1em;
  
  position: relative;

  word-wrap: normal;
  overflow-x: auto;
  &, & .one-diff-wrapper {
    font-family: Courier;
    font-size: 1.05em;
    font-weight: normal;
  }
}

.polished-report-success div.report-detail pre.error-content {
  max-height: none !important;
}

@line-num-col-width: 4em;
pre.line-numbers-wrapper {
  padding-left: @line-num-col-width + 0.8em;
  & > pre {
    margin: 0 0;
    padding-left: 1em;
  }
}

pre.diffPre {
  padding-left: 2 * @line-num-col-width;
}
.one-diff-content-one-row-binary {
  color: rgba(95, 95, 95, 1);
  font-size: 0.75em;
}

.case-inner-wrapper {
  &.hideHex {
    .line-numbers-rows .line-numbers-one-row-binary,
    .one-diff-content .one-diff-content-one-row-binary {
      display: none;
    }
  }
  &.hideAdded {
    .line-numbers-rows .diff-added-bg,
    .diff-added-bg {
      display: none;
    }
  }
  &.hideRemoved {
    .line-numbers-rows.diff-removed-bg,
    .diff-removed-bg {
      display: none;
    }
  }
}


.line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: 0em;
  width: @line-num-col-width;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  & > div {
    display: block;
    color: rgba(107, 107, 107, 1);
    padding-right: .5em;
    text-align: right;
  }
  &.line-numbers-rows-right {
    left: @line-num-col-width + 0.1em;
  }
}

pre, div, span {
  &.diff-removed-bg {
    background-color: pink;
  }
  &.diff-added-bg {
    background-color: darkseagreen;
  }
}

.inline-removed-bg {
  background-color: rgb(255, 113, 142);
}
.inline-added-bg {
  background-color: chartreuse;
}
span.one-diff-content {
  display: inline-block;
  min-width: 100%;
}