@import "utility.less";

#course-assignment-programming #course-assignment-programming-container #matrix-second-bar ul li.hidden {
  display: none;
}
// .files-cmp-switch-btn {
//   margin-left: 36px;
// }
.select-choice-part {
  & > div {
    margin-bottom: 30px;
  }
}
.files-diff-part {
  .files-cmp-selected-part-wrapper {
    margin-bottom: 20px;
  }
  // #matrix-programming-report {
  //   margin-left: 36px;
  //   margin-bottom: 30px;
  // }
  th.th-grade {
    width: 40%;
  }
}

.files-diff-part, .select-choice-part {
  table {
    width: 100%;
  }
}

#course-submission-programing .choice-tab li.navli.files-cmp-li {
  width: 180px;
}

#course-submission-programing .choice-tab li {
  vertical-align: text-bottom;
}