@import "utility.less";
pre.full-score {
  white-space: pre-wrap;

}
input.switch-btn {
  margin-bottom: 10px;
  .matrix-button();
}
.polished-report-success {
  padding-right: 8em;
  pre.success {
    background-color: #fff;
    border-radius: 5px;
    padding: 36px;
    margin-top: 0;
    font-family: Courier, Arial;
    font-size: 24px;
    color: #479ea2;
    line-height: 24px;
    box-shadow: 0 3px 10px #ccc;
    width: 897px;
  }
  pre {
    line-height: 20px;
    font-size: 13px;
    background-color: transparent;
    padding: unset;
    overflow: unset;
    border-radius: 3px;
  }
  #matrix-programming-report .report-section {
    .test-content {
      max-height: none;
      .report-detail {
        max-height: none;
        & > div.failed-cases-summary {
          font-family: Courier, Arial;
          font-size: 20px;
        }
        .error-detail {
          max-height: none;   
          margin-top: 10px;     
        }
      }
      
    }
  }
}

.test-content .report-detail > pre,
.report-section .test-content .report-detail > div {
  font-family: Courier, Arial;
}

.report-detail {
  pre.label {
    font-family: Courier, Arial;
  }
  .case-inner-wrapper .error-content {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.tests-check-summary {
  margin-top: 20px;
  .result-code,
  .limit-use,
  .index {
    font-family: Courier, Arial;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0 !important;
  }

  .result-code,
  .limit-use {
    font-size: 18px !important;
  }

  .index {
    font-size: 23px !important;
  }

}

.google-test-case-wrapper {
  .index {
    font-family: Courier, Arial;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px !important;
  }
}

.submission-container {
  .files-cmp {
    margin-top: 26px !important;
  }
  .polished-report-success pre.success {
    width: 897px;
    padding: 36px;
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    line-height: 24px;
    font-size: 24px;
    font-family: "Heiti SC", Arial;
    color: #479ea2;
  }
}

#course-assignment-one-submission-program .submission-container .onesubmission-content .course-assignment-one-submission-wrapper .course-assignment-one-submission-container .report-wrapper .report-container {
  .polished-report-success {
    padding-right: unset;
    pre.success {
      width: auto;
    }
  }
  #matrix-programming-report .report-section {
    width: auto;
  }
}
