pre.full-score {
  white-space: pre-wrap;

}
.polished-report-success {
  padding-right: 8em;
  pre.success {
    font-family: Courier, Arial;
  }
  .report-section {
    div.score {
      font-family: "Heiti SC", Arial;
    }
    .test-content .report-detail {
        & > div.failed-cases-summary {
        font-family: Courier, Arial;
        font-size: 20px;
      }
    }
  }
}

.test-content .report-detail > pre,
.report-section .test-content .report-detail > div {
  font-family: Courier, Arial;
}

.report-detail {
  pre.label {
    font-family: Courier, Arial;
  }
  .case-inner-wrapper .error-content {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.tests-check-summary {
  margin-top: 20px;
  .result-code,
  .limit-use,
  .index {
    font-family: Courier, Arial;
    margin-top: 0;
    margin-bottom: 0;
  }
  .index {
    font-size: 25px !important;
  }
}


